

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}