.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 14px;
    min-height: 42px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    color: var(--color-sidebar-text);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.listItem:hover {
    background-color: var(--color-primary-light);
    color: var(--color-sidebar-active-text);
}

.activeNavItem {
    background-color: var(--color-primary-light);
    color: var(--color-sidebar-active-text);
    position: relative;
    overflow: hidden;
}

.activeNavItem::before {
    position: absolute;
    content: '';
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
}