

.productsPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.productsPageHeader {
    display: flex;
    justify-content: space-between;
}


.modalHeader {
    display: flex;
    justify-content: space-between;
}